/* Descrizione */
.my-profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 1rem;
  height: 100%;
  width: 90vw;
  margin-left: 1rem;
  margin-right: 1rem;
}
.about-me-wrapper {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 25px;
  align-items: center;
  box-shadow: 0 4px 8px var(--shadow-color);
  height: 100%;
  margin-bottom: 0.5rem;
}

/* Titolo */
.section-title {
  font-size: 2.3rem;
  margin-bottom: 3rem;
}

/* Contenuto del testo */
.profile-text p {
  text-align: center;
  padding: 0.5rem;
}

/* Responsive */
@media screen and (max-width: 1040px) {
  .my-profile {
    margin-top: 5rem;
  }

  .about-me-wrapper {
    height: clamp(500px, 60vh, 600px);
  }

  .my-profile {
    height: clamp(500px, 70vh, 800px);
  }
}

@media screen and (max-width: 768px) {
  .about-me-wrapper {
    height: clamp(500px, 60vh, 600px);
    flex-direction: column;
  }

  .my-profile {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
    height: clamp(500px, 70vh, 800px);
  }

  .profile-text {
    text-align: center;
  }

  .section-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  .about-me-wrapper {
    height: clamp(500px, 50vh, 800px);
  }
}

@media screen and (max-width: 468px) {
  .about-me-wrapper {
    height: clamp(600px, 50vh, 1000px);
  }

  .my-profile {
    height: clamp(500px, 50vh, 1000px);
    margin-top: 4rem;
  }

  .section-title {
    font-size: 14px;
    margin-bottom: 1rem;
  }
}
