/* Dots Container Style */
.dots-container {
  text-align: center;
  margin-top: 20px;
}

/* Dots Style */
.dot {
  display: inline-block; /* Display inline-block for proper alignment */
  width: 0.8em;
  height: 0.8em;
  margin: 0 0.3rem;
  background-color: var(--inactive-color);
  border-radius: 50%;
  opacity: 0.5; /* Opacity for inactive dots */
  transition: opacity 0.3s ease, background-color 0.3s ease; /*Transition */
}

/* Active Dot Style */
.dot.active {
  background-color: var(--active-color);
  opacity: 1;
}
