/* Stili per il contenitore dei pallini */
.dots-container {
  text-align: center;
  margin-top: 20px;
}

/* Stili base per ogni dot */
.dot {
  display: inline-block; /* Li mette in linea */
  width: 0.8em;
  height: 0.8em;
  margin: 0 0.3rem;
  background-color: var(--inactive-color);
  border-radius: 50%;
  opacity: 0.5; /* Inizialmente semi-trasparente */
  transition: opacity 0.3s ease, background-color 0.3s ease; /* Transizione fluida */
}

/* Stile per il pallino attivo */
.dot.active {
  background-color: var(--active-color);
  opacity: 1;
}
