.certificate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.certificate img {
  display: block;
  margin: 0 auto;
  height: 80%;
  width: 80%;
}

.certificate:hover img {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .certificate img {
    height: 50%;
    width: 50%;
  }
}

@media screen and (max-width: 468px) {
  .certificate img {
    height: 60%;
    width: 60%;
  }
}
