.contact {
  display: grid;
  bottom: 0;
  width: 100vw;
  height: 3rem;
  grid-template-areas: "email number github";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  background-color: var(--secondary-color);
  text-align: center;
  margin-top: 1rem;
}

.email-link {
  grid-area: email;
  color: var(--main-color);
  text-decoration: none;
  border: solid black;
  padding: 0.5rem;
  border-width: 2px 1px 2px 2px;
}

.email-link a {
  color: var(--underline-color);
}

.email-link a:hover {
  color: var(--background-color);
}

.phone-number {
  grid-area: number;
  color: var(--main-color);
  text-decoration: none;
  border: solid black;
  padding: 0.5rem;
  border-width: 2px 1px 2px 1px;
}

.github-link {
  text-decoration: none;
  color: var(--main-color);
}
.github-link:hover {
  color: var(--underline-color);
}
.github {
  grid-area: github;
  border: solid black;
  padding: 0.5rem;
  border-width: 2px 2px 2px 1px;
}

@media screen and (max-width: 1040px) {
  .contact {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .contact {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 400px) {
  .contact {
    font-size: 0.6rem;
  }
}
