/* Impostazioni generali */
.background {
    position: relative;
    min-height: 100vh;
}

/* Linguetta tonda con 3 linee */
.contact-tab {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.contact-tab-button {
    background-color: #333;
    color: var(--main-color);
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: 40px;
}

.contact-tab-button:hover {
    background-color: #555;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--main-color);
    ;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Sezione dei contatti inizialmente nascosta */
.contact {
    display: none;
    position: fixed;
    top: 60px;
    left: 10px;
    background-color: var(--main-color);
    ;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    z-index: 999;
}

.contact.open {
    display: block;
    background-color: #333;
}

.contact p {
    margin: 10px 0;
}

.contact a {
    text-decoration: none;
    color: inherit;
}

.contact svg {
    margin-right: 10px;
    vertical-align: middle;
}

.contact img {
    width: 30px;
    /* Riduci la dimensione dell'immagine */
    height: 30px;
    /* ... altri stili */
}

.contact:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


/* Responsività - Adattamenti per dispositivi mobili */
@media (max-width: 768px) {

    /* Linguetta: Ridurre la dimensione sui dispositivi più piccoli */
    .contact-tab-button {
        width: 35px;
        height: 35px;
        padding: 10px;
    }

    .bar {
        width: 20px;
        height: 2px;
    }

    /* La sezione contatti si adatta alla larghezza dello schermo */
    .contact {
        width: 200px;
        top: 50px;
        /* Aggiustiamo la posizione in modo che non si sovrapponga */
    }
}

@media (max-width: 480px) {

    /* Linguetta: Ulteriore riduzione della dimensione per schermi più piccoli */
    .contact-tab-button {
        width: 30px;
        height: 30px;
        padding: 8px;
    }

    .bar {
        width: 18px;
        height: 2px;
    }

    /* Sezione contatti più piccola per schermi molto stretti */
    .contact {
        width: 180px;
        top: 45px;
    }
}

@media (max-width: 320px) {
    .contact {
        width: 140px;
        top: 45px;
        font-size: 10px;
        padding-left: 6px;
    }
}