.navigation-section {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3rem;
  grid-template-areas: "home projects about";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  background-color: var(--secondary-color);
  text-align: center; /* Allinea il testo al centro */
}

a:active {
  color: var(--underline-color);
}

/* Seleziona specificamente il link "Home" */
.home-link {
  grid-area: home;
  color: var(--main-color);
  text-decoration: none;
  border: solid black;
  padding: 0.5rem;
  border-width: 2px 1px 2px 2px; /* Per avere 2px nel bordo condiviso */
}

/* Seleziona specificamente il link "Projects" */
.projects-link {
  grid-area: projects;
  color: var(--main-color);
  text-decoration: none;
  border: solid black;
  padding: 0.5rem;
  border-width: 2px 1px 2px 1px;
}

/* Seleziona specificamente il link "About Me" */
.about-link {
  grid-area: about;
  color: var(--main-color);
  text-decoration: none;
  border: solid black;
  padding: 0.5rem;
  border-width: 2px 2px 2px 1px;
}
