/* Main container */
.projects-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* Positions arrows absolutely */
  overflow-x: auto;
}

.scroll-container {
  box-sizing: border-box;
  border-radius: 25px;
  width: 90%;
}
/* Styles for scroll arrows */
.scroll-button {
  background-color: var(--inactive-color);
  color: var(--white-color);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}

.scroll-button:disabled {
  opacity: 0.6; /* Less visible when disabled */
  cursor: default;
  pointer-events: none; /* Not clickable when disabled */
}

.scroll-button:hover {
  background-color: var(--active-color);
}
.left-arrow {
  left: 1rem;
}

.right-arrow {
  right: 1rem;
}

/* Arrow icon style */
.scroll-button svg {
  display: block;
  max-width: 20px;
  max-height: 20px;
  margin: auto;
}

/* Hide arrows on touch devices */
@media (pointer: coarse) {
  .scroll-button {
    display: none;
  }
}

/* Show arrows on desktop devices */
@media (pointer: fine) {
  .scroll-button {
    display: block; /* Ensure they are visible */
  }
}
