/* Contenitore principale */
.projects-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative; /* Posiziona le frecce in modo assoluto */
  overflow-x: auto;
}

.scroll-container {
  box-sizing: border-box;
  border-radius: 25px;
  width: 90%;
}
/* Stili per le frecce di scorrimento */
.scroll-button {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  transition: opacity 0.3s ease;
  margin: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.scroll-button:disabled {
  opacity: 0.3; /* Meno visibile quando disabilitato */
  cursor: default;
  pointer-events: none; /* Non cliccabile quando disabilitato */
}

.scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

@media screen and (max-width: 1200px) {
  .scroll-container {
    width: 75%;
  }
}
@media screen and (max-width: 1000px) {
  .scroll-container {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .scroll-container {
    width: 60%;
  }
}
