/* Testo */
p {
  color: var(--main-color);
  font-size: 1.1rem;
}
/* Responsive */
@media screen and (max-width: 768px) {
  p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 468px) {
  p {
    font-size: 0.8rem;
  }
}
